app:
  base_url: http://localhost:8080
  name: voice-key-backend-go
  port: 8080
  debug: true
  prefork: false # multi-process mode
  env: local

cors:
  enabled: true
  allow_origin: '*'
  allow_methods: GET, POST, PUT, DELETE, PATCH, OPTIONS
  allow_headers: X-Requested-With, Content-Type, Accept, Origin, Authorization
  expose_headers: X-Requested-With, Content-Type, Accept, Origin, Authorization

database:
  host: 127.0.0.1
  port: 5437
  name: voice-key
  user: voice-key
  password: 12345
  connect_timeout: 5
  max_connections: 10
  max_idle_connections: 10
  max_connection_lifetime: 60
  max_connection_idle_time: 60
  ssl_mode: disable
  prepared_statement: true

auth:
  secret: secret
  token_ttl: 900 # secs
  reset_password_token_ttl: 900 # secs
  yandex:
    client_id: client_id
    client_secret: client_secret
    redirect_path: /auth/yandex/connect
    auth_url: https://oauth.yandex.ru/authorize
    token_url: https://oauth.yandex.ru/token
    user_info_url: https://login.yandex.ru/info

desktop_app:
  scheme: voice-keyboard://
  auth_path: auth

websocket:
  enabled: true
  max_connections_per_user: 5
  max_session_duration: 600 # seconds
  idle_timeout: 300 # seconds
  connection_timeout: 30 # seconds

basic_auth:
  username: admin
  password: admin123

openai:
  api_key: openai-key
  model: gpt-4.1-nano # Название модели OpenAI для генерации текста

releases:
  path: ./releases
  actual_version: 1.0.0
